// Cores
$primary-color: #182C61;
$background-color: #f5f6fa;
$text-color: #fff;
$button-bg-color: #44bd32;
$button-hover-bg-color: #4cd137;

// Tamanhos
$container-max-width: 1024px;
$container-padding: 16px;
$product-border-radius: 16px;
$button-border-radius: 8px;